# ==============================
# Python cache files
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual environments
# ==============================
venv/
.env/
.venv/
env/
ENV/

# ==============================
# Jupyter Notebook checkpoints
# ==============================
.ipynb_checkpoints/

# ==============================
# Data folders (ignore datasets)
# ==============================
data/
datasets/
notebooks/data/

# ignore all csv files
*.csv

# ==============================
# Artifacts (models + processed data)
# ==============================

# allow artifacts folder
!artifacts/

# ignore csv inside artifacts
artifacts/*.csv

# allow model files
!artifacts/*.pkl

# ==============================
# Logs
# ==============================
logs/
*.log

# ==============================
# System files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE files
# ==============================
.vscode/
.idea/

# ==============================
# Distribution / packaging
# ==============================
build/
dist/
*.egg-info/

# ==============================
# Environment variables
# ==============================
.env

# ==============================
# Allow notebooks
# ==============================
!notebooks/